* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, lightgreen, green);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 24px;
}

#navbar h2 {
    margin-right: auto;
    color: whitesmoke;
}

#navbar2 {
    background: linear-gradient(to top, tan, rgb(177, 138, 102));
    display: flex;
    align-items: center;
}

#navbar2 a {
    text-decoration: none;
    color:  whitesmoke;
    padding: 25px;
    margin: 5px;
}

#navbar2 h2 {
    color: whitesmoke;
    margin-right: auto;
}

#navbar2 .cta-button {
    background-color: transparent;
    border: 1px solid white;
    color: whitesmoke;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-left: auto;
    margin: 5px;
}

#navbar-top {
    background-color: black;
}

#navbar-top a {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 5px;
}

#navbar-bottom {
    background: linear-gradient(to bottom, rgb(246, 183, 66), rgb(147, 100, 14));
}

#navbar-bottom .content-column2 {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: black;
    padding: 12px 0px;
    margin: auto;
    font-size: 12px;
}

#navbar3 {
    background: linear-gradient(to top, rgb(255, 184, 53), rgb(223, 147, 6));
    display: flex;
    align-items: center;
}

#navbar3 a {
    text-decoration: none;
    color:  whitesmoke;
    padding: 25px;
}

#navbar3 h2 {
    color: whitesmoke;
    margin-right: auto;
    margin-left: 5px;
}

#navbar3 .cta-button {
    background-color: transparent;
    border: 1px solid white;
    color: whitesmoke;
    border-radius: 36px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}