/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license  {
    border: 3px solid black;
    border-radius: 50px;
    width: 700px;
    height: 500px;
    padding: 20px;
}

h1 {
    border: 2px solid red;
}

#content {
    border: 2px solid blue;
}

#small-pic {
    border: 2px solid purple;
}

#small-pic img {
    width: 90px;
    text-align: left;
}

#left-side {
    border: 2px solid red;
    text-align: left;
    display: inline-block;
    width: 300px;
}

#right-side {
    border: 2px solid green;
    text-align: right;
    display: inline-block;
}

#data-left,
#data-right {
    display: inline-block;

}

#personal-info {
    display: inline-block;
    text-align: right;
}