* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/background.png");
}

#navbar {
    background: #d4c3b6;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 2px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}


#navbar {
    background: #d4c3b6;
    display: flex;
    align-items: center;
    padding: 0px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: #cba98f;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
        z-index: 10;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #d4c3b6;
    width: 100%;
    min-width: 200px;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

#navbar .dropdown-menu a:hover {
    background: #cba98f;
}

#hero {
    background-image: url(../images/home-page.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    text-align: center;
    padding-top: 20vh;
}

#hero h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero p {
    padding-bottom: 200px;
    text-align: center;
    font-size: 20px;
}

#hero {
    color: white;
}

#hero h1 {
    font-size: 100px;
    text-align: center;
}

#hero h4 {
    font-size: 50px;
    text-align: center;
}

#logo img {
    width: 1300px;
    margin-top: 0px;
    padding-bottom: 0px
}
    
#navbar2 {
    background: #d4c3b6;
    display: flex;
    align-items: center;
}

#navbar2 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
    
#navbar2 a:hover {
    background: #cba98f;
}
    
#navbar2 #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
    font-size: 20px;
}

#navbar2 #logo:hover {
    background-color: #d4c3b6;
}

#flex-side-by-side {
    width: 80vw;
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    gap: 50px;
}
    
.image-container {
    height: 400px;
}
    
#grid-side-by-side {
    background-color: #d4c3b6;
    padding: 40px;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-auto-rows: 150px;
    justify-content: center;
    gap: 50px;
}

#flex-side-by-side img {
    width: 600px;
}

.content {
    text-align: center;
    color: #d4c3b6;
}

#grid-side-by-side img {
    width: 200px;
    height: 150px;
}

#footer {
    background: #cba98f;
    color: white;
    padding: 12px;
}
    
#footer a {
    text-decoration: none;
    color: white;
}
    
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
    
    
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}



