body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/back.png");
}

.single-column {
    width: 50%;
    min-width: 1000px;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}

.single-column h1 {
    font-size: 45px;
    color: goldenrod;
}

.single-column h3 {
    color: goldenrod;
}

.vs {
    font-size: 115px;
    color: white;
}

#middle {
    width: 90vw;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 460px;
}

.card-2 img {
    width: 100%;
    object-fit: cover;
    height: 460px;
}

.card {
    width: 350px;
    height: 600px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 10px 10px 15px rgb(182, 2, 2);
    color: rgb(182, 2, 2);
    text-align: center;
    background-color: white;
}

.card-2 {
width: 350px;
height: 600px;
border: 2px solid whitesmoke;
border-radius: 5px;
padding: 10px;
box-shadow: 10px 10px 10px 15px goldenrod;
color: rgb(182, 2, 2);
text-align: center;
background-color: white;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card-2 h2 {
    font-size: 36px;
    margin-top: 12px;
}

#card2 {
    color: rgb(250, 187, 27);
}

#card2 {
    padding-bottom: 40px;
}

#c-image {
    height: 460px;
}

.bottom {
    color: goldenrod;
    text-align: center;
}

