* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
    ;
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#header a {
    text-decoration: none;
}

#header #creative {
    color: #111;
}

#header #tube {
    color: white;
    background-color: orangered;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid #aaa;
}

#sidebar ul a {
    text-decoration: none;
    color: #111;
    display: block;
    padding: 12px;
    opacity: 0.7;
}


#sidebar ul a:hover {
    background-color: whitesmoke;
    border-radius: 12px;
    opacity: 1;
}
#main {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
}

.ctube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.ctube-item .thumbnail {
    border-radius: 8px;
    aspect-ratio: 16 / 9;
}

#c1 .thumbnail {
    background-image: url(../images/website.png);
    background-size: cover;
}

#c2 .thumbnail {
    background-image: url(../images/painting\ .png);
    background-size: cover;
}

#c3 .thumbnail {
    background-image: url(../images/UX:UI.png);
    background-size: cover;
}

#c4 .thumbnail {
    background-image: url(../images/Illustration.png);
    background-size: cover;
}

#c5 .thumbnail {
    background-image: url(../images/graphic\ design.png);
    background-size: cover;
}

#c6 .thumbnail {
    background-image: url(../images/artist.png);
    background-size: cover;
}
.ctube-item h4 {
    margin: 8px;
}

.ctube-item h4 a {
    text-decoration: none;
    color: #111;
    display: block;
}

.ctube-item h4 a:hover {
    text-decoration: underline;
}

.ctube-item .video-details {
    margin: 8px;
    font-size: 14px;
}

.ctube-item .channel {
    margin-bottom: 4px;
}

.ctube-item {
    max-width: 200px;
}
