#bj {
    font-family: helvetica;
    text-align: center;
}

#bj-font {
    font-family: helvetica;
    text-align: center;
}

#bj-1 {
    background-color: #44FFD2;
    font-family: helvetica;
    text-align: center;
    padding: 24px;
}

#bj-2 {
    background-color: #87f6ff;
    font-family: helvetica;
    text-align: center;
    padding: 24px;
}

#bj-3 {
    background-color: #daf5ff;
    font-family: helvetica;
    text-align: center;
    padding: 24px;
}

#bj-4 {
    background-color: #FFBFA0;
    font-family: helvetica;
    text-align: center;
    padding: 24px;
}



#gp {
    font-family: 'Courier New';
    text-align: center;
}

#gp-font {
    font-family: 'Courier New';
    text-align: center;
}

#gp-1 {
    background-color: #231123;
    font-family: 'Courier New';
    text-align: center;
    padding: 24px;
}

#gp-2 {
    background-color: #372554;
    font-family: 'Courier New';
    text-align: center;
    padding: 24px;
}

#gp-3 {
    background-color: #52528C;
    font-family: 'Courier New';
    text-align: center;
    padding: 24px;
}

#gp-4 {
    background-color: #7C9EB2;
    font-family: 'Courier New';
    text-align: center;
    padding: 24px;
}



#wf {
    font-family: Impact;
    text-align: center;
}

#wf-font {
    font-family: Impact;
    text-align: center;
}

#wf-1 {
    background-color: #61D095;
    font-family: Impact;
    text-align: center;
    padding: 24px;
}

#wf-2 {
    background-color: #48BF84;
    font-family: Impact;
    text-align: center;
    padding: 24px;
}

#wf-3 {
    background-color: #439775;
    font-family: Impact;
    text-align: center;
    padding: 24px;
}

#wf-4 {
    background-color: #2A4747;
    font-family: Impact;
    text-align: center;
    padding: 24px;
}